/* CurrentPlayer.module.css */
.currentPlayer {
  position:absolute;
  top: 40px;
  right: 40px;
  text-align: center; /* Center the content within the tag */
}

.button {
  background-color: #ffffff;
  width: 255px;
  height: 41px;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 8px; /* tag shape */
  padding: 10px 10px; /* Adjust as needed */
  font-size: 18px; /* Setting font size */
  font-family: 'IBM Plex Mono', monospace; /* Setting font family */
  font-weight: 400; /* Added for Regular style */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.indicator {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #9255a0;
  margin-left: 30px;
}

/* Media query to move CurrentPlayer below Controls */
@media (max-width: 1360px) { /* Adjust 1000px as needed */
  .currentPlayer {
    top: auto; /* Reset the top positioning */
    bottom: 40px; /* Position at the bottom with padding */
    right: 40px
  }
}


